/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  height: 100%;
  background-color: #c4c4c4;
  color: #2e2e2e;
}

/* Navbar styles */
.navbar {
  background-color: #c4c4c4;
  padding: 10px 0 0 0;
  overflow: hidden;
}

.dropdown {
  float: column;
  overflow: hidden;
}


/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #10235b;
  font-size: 25px;
  padding: 20px;
  font-weight: 500;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn:hover {
  background-color: #9daac3;
  transform: transitionY(-10px);
  transition: all ease 0.8s;
  border-radius: 15px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.show {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 98%;
  margin: auto;

}

.logo {
  width: 100px;
  margin-left: 10px;
}


.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  padding: 20px;
}

.nav-links li:last-child {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #10235b;
  font-weight: 500;
  font-size: 25px;
  font-family: "Pixelify Sans", sans-serif;
  padding: 20px;
}

.nav-links a:hover {
  color: #6862bc;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #802323;
  margin: 3px 0;
  margin-right: 10px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #b1afaf;
    position: absolute;
    top: 110px;
    left: 0px;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    align-items: center;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }
}

.title{
  text-align: center;
}



.header{
  text-align: center;
  animation: slideDown 1s ease-out;
  margin-top: 40px;
  margin-bottom: -3%;
  }

  @keyframes slideDown {
      from {
          transform: translateY(-100%);
          opacity: 0;
      }
      to {
          transform: translateY(0);
          opacity: 1;
      }
  }
hr{
  width: 200px;
  height: 3px;
  background-color: #6a1010;
  margin: 5% auto;
}

.card-container{
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity:1;
  }
}

.card{
  width: 400px;
  height: 820px;
  background-color: #384261;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.6s ease;
}

.card:hover{
  transform: translateY(-20px);
}
.card img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content{
  padding: 20px;
}

.card-content h1{
  font-size: 30px;
  margin-bottom: 10px;
  color: #f7eded
}

.card-content p{
  font-size: 20px;
  color: #ebe5e5;
  margin-bottom: 10px;
}

